<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4 tc">

			<img src="/img/logo.png" alt="Crimson Rocks" class="w2 db mb4 br0 center">
			<h6 class="f6 lh-title small-caps">Stronger Together</h6>

			<!--
			<p class="f3 lh-title light-gray b tc mb2">Newsletter subscribe</p>
			<p>Get awesome news from us in your inbox every two weeks. Be the first to learn about new products.</p>

			{{ partial "newsletter-form" . }}
			-->

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Links</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/about" class="link">About</a></li>
					<li><a href="/projects" class="link">Projects</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Projects</h3>
				<ul class="mb3">
					<li>Coming Soon...</li>
					<!--
					<li><a href="/post/jamaica-blue/" class="link">Latest offers</a></li>
					<li><a href="/contact" class="link">Schedule and appointment</a></li>
					-->
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Discover</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://www.facebook.com/crimsonrocks.official" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "https://twitter.com/crimsonrocks1" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "https://www.instagram.com/crimsonrocks_official/" "svg" "icons-instagram") }}
				</ul>
			</div>

		</div>
	</div>

	<div class="f6 fw1 tc">Copyright Crimson Rocks C.I.C. 2020</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
