{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

{{ partial "short-text" .Params.blurb}}

{{ partial "text-and-image" (dict "heading" .Params.projects.heading "text" .Params.projects.text "image" .Params.projects.image "buttonText" "Learn more" "buttonLink" .Params.projects.buttonLink) }}

{{ partial "text-and-image" (dict "heading" .Params.values.heading "text" .Params.values.text "image" .Params.values.image "buttonText" "Learn more" "buttonLink" .Params.values.buttonLink) }}

{{ end }}
